@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");

body {
  background: #e9ebec;
  color: #272525;
  margin: 0px;
  text-align: center;
  align-items: center;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  margin: 30px;
}

.app{
  width: 100%;
  align-items: center;
  justify-content: center;
}

